/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* COMMON */

html, body {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	/* font-family: Segoe UI,system-ui,-apple-system,sans-serif; */

	letter-spacing: 0;
	color: #000000;
}

a {
	color: #1A0DAB;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

/* HEADER */

header {
	flex: 0 0 auto;
}

header .inner {
	padding: 30px 16px 0 16px;
}

/* TODO:
	CHANGE TO IMG LOGO
*/

.logo_header {
	font-size: 20px;
	line-height: 20px;
	font-weight: 900;
	color: #5C7C3C;
}

.link_back_container {
	margin-left: 50px;
}

.link_back_container span {
	color: #1A0DAB;
	font-size: 14px;
	margin-right: 7px;
}

.link_back {
	font-size: 14px;
	line-height: 14px;
}

/* MAIN */

main {
	flex: 1 0 auto;
}

main .inner {
	padding: 0 16px 0 16px;
}

h1.page-h1 {
	font-size: 14px;
	line-height: 14px;
	margin-top: 34px;
	color: #70757A;
}

h2.page-h2 {
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	padding-top: 30px;
	padding-bottom: 4px;
}

.page-h2-subtitle {
	margin: 8px 0 16px 0;
	font-size: 14px;
}

h2.page-h2 a {
	color: #000000;
}

ul.list_posts {
	margin-bottom: 6px;
	font-size: 0;
}

ul.list_posts li {
	margin-top: 10px;
}

.list_posts-date, .list_posts-delimeter {
	color: #4D5156;
	font-size: 14px;
	line-height: 16px;
}

.list_posts-delimeter {
	margin: 0 11px;
}

.list_posts-link_type {
	color: #4D5156;
    font-size: 16px;
    margin-right: 5px;
    line-height: 16px;
}

.list_posts-link {
	font-size: 16px;
	line-height: 22px;
}

/* ARTICLE */

.article {
	color: #191919;
	font-size: 16px;
	line-height: 1.5;
}

.article h1,
.article h2,
.article h3 {
	font-weight: bold;
}

.article h1 {
	font-size: 22px;
	line-height: 32px;
	padding-top: 40px;
}

.article h2 {
	font-size: 18px;
	line-height: 26px;
	padding-top: 24px;
}

.article h3 {
	font-size: 16px;
	line-height: 1.5;
	padding-top: 20px;
}

.article .address {
	font-size: 14px;
	line-height: 14px;
	margin-top: 16px;
	margin-bottom: 14px;
	color: #70757A;
}

a[target="_blank"]::after {
	background-color: #696969;
	content: "";
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-left: 5px;
	-webkit-mask-image: url(/assets/img/external-link-icon.svg);
	mask-image: url(/assets/img/external-link-icon.svg);
	-webkit-mask-size: cover;
	mask-size: cover;
}

.article p {
	margin-top: 16px;
}

.article strong {
	font-weight: bold;
}

.article i, .article em {
	font-style: italic;
}

.article ul,
.article ol {
	margin-top: 16px;
	padding-left: 2em;
}

.article ul li,
.article ol li {
	margin-top: 0.25em;
}

.article ul li {
	list-style-type: disc;
}

.article ol li {
	list-style-type: decimal;
}

.article ol li > ol {
	margin-top: 0;
}

.article ol li > ol li {
	list-style-type: lower-roman;
}

.article code {
	padding: 0.125em 0.25em;
    background: #f8f9fa;
    border: 1px solid rgb(210, 211, 215);
    font-size: 16px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

/* FOOTER */

footer {
	background-color: #EAECF0;
	flex: 0 0 auto;
	margin-top: 130px;
}

footer .inner {
	padding: 40px 16px 28px 16px;
}

.logo_footer {
	font-size: 18px;
	line-height: 18px;
	font-weight: 900;
	color: #000000;
}

.footer_hr {
	background-color: #D9D9D9;
	width: 100%;
	height: 1px;
	margin-top: 11px;
	margin-bottom: 4px;
}

.footer_author {
	font-size: 14px;
	line-height: 18px;
}

.footer_email {
	color: #000000;
	text-decoration: underline;
}

.footer_author span {
	font-weight: bold;
}

ul.footer_menu {
	font-size: 0;
}

.footer_menu li {
	margin-right: 26px;
	margin-top: 14px;
	display: inline-block;
}

.footer_menu li:last-child {
	margin-right: 0;
}

.footer_menu li a {
	font-size: 14px;
	line-height: 14px;
	padding-bottom: 1px;
}

.footer_menu li.active a {
	border-bottom: 2px solid #1A0DAB;
}

.footer_menu li.active a:hover {
	text-decoration: none;
}

@media screen and (max-width: 600px) {
	header .inner {
		padding-top: 18px;
	}

	ul.list_posts li {
		margin-top: 14px;
	}
	
	.list_posts-date, .list_posts-delimeter {
		display: none;
	}
	
	.link_back_container {
		margin-left: 0;
		margin-top: 4px;
		float: right;
	}
}